h1 {
    color : blue;
    text-align: center;
}

div {
    
    /*
    for styles0
    background-color : teal;
    width : 100px;
    height: 400px;
    margin : 30px;
    padding: 20px;*/
    font-family: Arial,sans-serif;
    font-size : 28px;
    font-weight: bold;
    /*border : 3px solid red;*/
    border : 3px dotted red;

}
p {
    color : red;
}

